<div class="content-wrapper">
  <h1>Editando Remuneracao</h1>

  <%= render 'form', remuneracao: @remuneracao %>

  <%= link_to 'Mostrar', @remuneracao %> |
  <%= link_to 'Voltar', remuneracoes_path %>
</div>