<div class="content-wrapper">
  <div class="content-wrapper">
    <h1>Editando Funcionario</h1>

    <%= render 'form', funcionario: @funcionario %>

    <%= link_to 'Mostrar', @funcionario %> |
    <%= link_to 'Voltar', funcionarios_path %>
  </div>